<!DOCTYPE html>
<html>
<head>
    <title>Flask Calculator</title>
</head>
<body>
    <h2>Simple Calculator</h2>
    <input type="text" id="res" disabled>

    <br><br>

    <button onclick="add('1')">1</button>
    <button onclick="add('2')">2</button>
    <button onclick="add('3')">3</button>
    <button onclick="add('+')">+</button><br>

    <button onclick="add('4')">4</button>
    <button onclick="add('5')">5</button>
    <button onclick="add('6')">6</button>
    <button onclick="add('-')">-</button><br>

    <button onclick="add('7')">7</button>
    <button onclick="add('8')">8</button>
    <button onclick="add('9')">9</button>
    <button onclick="add('*')">*</button><br>

    <button onclick="add('0')">0</button>
    <button onclick="calc()">=</button>
    <button onclick="clr()">C</button>
    <button onclick="add('/')">/</button>

    <script>
        function add(v) {
            document.getElementById("res").value += v;
        }
        function clr() {
            document.getElementById("res").value = "";
        }
        function calc() {
            document.getElementById("res").value =
                eval(document.getElementById("res").value);
        }
    </script>
</body>
</html>
